body {
  margin: 0;
  background-color: #F6B4C3;

}

@font-face {
    font-family: 'doctor_punkregular';
    src: url('doctor_punk-webfont.woff2') format('woff2'),
         url('doctor_punk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: auto;
}
ul {
  list-style-type: none;
  font-family: 'PT Mono', monospace;
  font-size: 15px;

}
li  {
  display: inline;
}
a {
  text-decoration: none;
  color: #2C2828;
}

a:hover {
    text-decoration: line-through;
}

#batcave {
  display: flex;
  width: 900px;
  height: 222px;
  transform: rotate(-6deg);
  margin-top: -30px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/batcave.png);
  fill: #2C2828;
}

#batcave p {
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  color:  #2C2828;
  margin-left: 450px;
  margin-top: 220px;
}

#black-box {
  display: flex;
  margin: auto;
  width: 97%;
  height: 500px;
  background-color: #2C2828;
  margin-top: 20px;
}
.box-one {

  margin-top: 90px;
  margin-left: 50px;
  border-bottom: 200px solid #F6B4C3;
	border-left: 15px solid transparent;
	border-right: 10px solid transparent;
  border-top: 103 solid #F6B4C3;
	height: 0;
	width: 30%;
  min-width: 350px;
  -webkit-transform: skew(3deg);
	   -moz-transform: skew(3deg);
	     -o-transform: skew(3deg);
}

.box-two {

  margin-top: 200px;
  margin-left: 50px;
  border-bottom: 200px solid #F6B4C3;
	border-left: 15px solid transparent;
	border-right: 10px solid transparent;
  border-top: 103 solid #F6B4C3;
	height: 0;
	width: 45%;
  min-width: 350px;
  -webkit-transform: skew(3deg);
	   -moz-transform: skew(3deg);
	     -o-transform: skew(3deg);
}

.box-one p {
  font-family: 'doctor_punkregular';
  font-size: 65px;
  margin:35px;
  color: #2C2828;
}

.box-two p {
  font-family: 'doctor_punkregular';
  font-size: 70px;
  margin:35px 20px;
  color: #2C2828;
}

.featuring {
  margin-top: 30px;
  margin-left: 50px;
  position: absolute;
  font-family: 'PT Mono' , monospace;
  color: #F6B4C3;
}

.and {
  margin-top: 350px;
  margin-left: 350px;
  position: absolute;
  font-family: 'PT Mono' , monospace;
  color: #F6B4C3;

}

/* break points : 1023px, 800px */
